.NewClass {
    color: var(--primary_color);
    background-color: var(--darker-secondary-color);
    border-radius: 90px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.uparrowcls {
    font-size: 2em;
    width: 0px;
    font-weight: 900;
    line-height: 1.0;
}